buttons {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  height: 3.4vw;
  width: 3.4vw;
}

button:active {
  border: none;
  outline: none;
}

#add-instance-button {
  background-image: url(../images/plus-icon.png);
  background-position: center;
  background-size: 5.6vw;
  background-color: $primary-background;
  border: none;
  display: inline;
  float: left;
  height: 4vw;
  margin-left: .5vw;
  margin-top: 2.6vw;
  width: 4vw;
}

#profile-button {
  background-image: url(../images/profile.png);
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: .5vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

.info-button {
  @extend buttons;
  display: inline;
  margin-left: 1vw;
}

.all-users-button {
  @extend buttons;
  display: inline;
  margin-right: 1vw;
}

.calendar-button {
  @extend buttons;
  display: inline;
  float: right;
  margin-right: 1vw;
}

.trending-button {
  @extend buttons;
  margin-left: 1vw;
}

.go-back-button {
  @extend buttons;
  margin-left: 1vw;
}

.steps-go-back-button {
  background-image: url(../images/steps-goback.png);
}

.steps-info-button {
  background-image: url(../images/steps-info.png);
}

.steps-all-users-button {
  background-image: url(../images/steps-friends.png);
}

.steps-calendar-button {
  background-image: url(../images/steps-calendar.png);
}

.hydration-go-back-button {
  background-image: url(../images/hydration-goback.png);
}

.hydration-info-button {
  background-image: url(../images/hydration-info.png);
}

.hydration-all-users-button {
  background-image: url(../images/hydration-friends.png);
}

.hydration-calendar-button {
  background-image: url(../images/hydration-calendar.png);
}

.stairs-go-back-button {
  background-image: url(../images/stairs-goback.png);
}

.stairs-info-button {
  background-image: url(../images/stairs-info.png);
}

.stairs-all-users-button {
  background-image: url(../images/stairs-friends.png);
}

.stairs-calendar-button {
  background-image: url(../images/stairs-calendar.png);
}

.sleep-go-back-button {
  background-image: url(../images/sleep-goback.png);
}

.sleep-info-button {
  background-image: url(../images/sleep-info.png);
}

.sleep-all-users-button {
  background-image: url(../images/sleep-friends.png);
}

.sleep-calendar-button {
  background-image: url(../images/sleep-calendar.png);
}


.steps-trending-button {
  background-image: url(../images/steps-trending.png);
}

.stairs-trending-button {
  background-image: url(../images/stairs-trending.png);
}
