buttons {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  height: 3.4vw;
  width: 3.4vw;
}

button:active {
  border: none;
  outline: none;
}

#add-instance-button {
  background-image: url(../images/plus-icon.png);
  background-position: center;
  background-size: 5.6vw;
  background-color: $primary-background;
  border: none;
  display: inline;
  float: left;
  height: 5.6vw;
  margin-left: 1vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

#profile-button {
  background-image: url(../images/user.png);
  background-color: $primary-background;
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: 2vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

.info-button {
  @extend buttons;
  display: inline;
  margin-left: 1vw;
  background-image: url(../images/information.png);
}

.all-users-button {
  @extend buttons;
  display: inline;
  margin-right: 1vw;
  background-image: url(../images/group.png);
}

.calendar-button {
  @extend buttons;
  display: inline;
  float: right;
  margin-right: 1vw;
  background-image: url(../images/calendar.png);
}

.trending-button {
  @extend buttons;
  margin-left: 1vw;
  background-image: url(../images/line-chart.png);
}

.go-back-button {
  @extend buttons;
  margin-left: 1vw;
  margin-top: 2vw;
  background-image: url(../images/return.png);
}

.steps-button {
  background-color: $steps-color;
}

.hydration-button {
  background-color: $hydration-color;
}

.stairs-button {
  background-color: $stairs-color;
}

.sleep-button {
  background-color: $sleep-color;
}
