.mpopup {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.mpopup-main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2%;
}

.mpopup-sleep {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.mpopup-hydration {
  display: grid;
  grid-template-rows: 1fr;
}

.mpopup-activity {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.mpopup-content {
  position: relative;
  background-color: $primary-background;
  color: $white;
  margin: auto;
  padding: 3%;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-style: solid;
  border-color: $white;
}

.mpopup-head {
  padding: 2px 16px;
  background-color: $primary-background;
  color: white;
}
.modal-content {
  padding: 2px 16px;
}

input {
  width: 10%;
  font-size: 30px;
}

.modal-div {
  margin: 3%;
}

.modal-h3 {
  padding-right: 50px;
}

.close {
  color: white;
  float: right;
  font-size: 52px;
  font-weight: bold;

  &:hover &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.alert-modal {
  display: none;
  position: fixed;
  justify-content: flex-start;
  align-content: flex-start;
  z-index: 101;
  top: 80%;
  left: 70%;
  width: 25%;
  height: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.alert-text {
  margin-right: 0px;
  align-items: flex-start;
  text-align: left;
}
