$primary-background: darken(#FFFFFF, 30%);
$white: white;
$steps-color: hsla(8.5, 89.5%, 62.7%, 1);
$hydration-color: complement($steps-color);
$sleep-color: hsla(37.4, 100%, 55%, 1);
$stairs-color: hsla(259.67, 28.37%, 57.84%, 1);
$green-text: hsla(130, 100%, 45.1%, 1);
$red-text: saturate($steps-color, 100%);
$yellow-text: lighten($sleep-color, 8%);
