$primary-background: #1F1F1F;
$white: white;
$steps-color: #F5634B;
$hydration-color: #54C6BE;
$stairs-color: #8975B2;
$sleep-color: #FBD089;
$green-text: #008000;
$red-text: #ff0000;
$yellow-text: #F8BA00;