@import 'variables';
@import 'body';
@import 'text';
@import 'buttons';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

#add-instances-dropdown {
  background-color: $primary-background;
  color: $white;
  margin-right: 70%;
  margin-top: -1.2%;
  text-align: center;
  position: absolute;
  margin-top: 8%;
  padding: 0 7%;
  z-index: 100;
}

#add-instances-dropdown a {
  display: block;
  float: none;
}

.add-sleep, .add-hydration, .add-activity {
  font-size: 2.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

#user-info-dropdown {
  background-color: $primary-background;
  color: $white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}
/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: $green-text;
}

.red-text {
  color: $red-text;
}

.yellow-text {
  color: $yellow-text;
}
