@import 'variables';
@import 'body';
@import 'modals';
@import 'text';
@import 'buttons';
@import 'instance-dropdown';
@import 'media-queries';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

/* User Info Dropdown*/
#user-info-dropdown {
  background-color: $primary-background;
  color: $white;
  margin-left: 60%;
  position: relative;
  text-align: center;
  z-index: 100;
  border-style: solid;
  border-color: $white;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}
/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: $green-text;
}

.red-text {
  color: $red-text;
}

.yellow-text {
  color: $yellow-text;
}